<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= t('dashboard.navigator_menu.procurement_plan') %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_procurement_plan' %>
  </div>
</div>


