<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= "New Procurement Plan" %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_procurement_plan' %>
  </div>
</div>


