<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= t('panel.heading.add', model: t('model.announcement') ) %>
  </div>
  <div class="panel-body" > 
    <div class="col-md-5">
      <%= render 'forms/form_announcement' %>
    </div>
  </div>
</div>


