<div class="row">
  <div class="col-md-12">
    <%= render 'website/footer/footer_navigator' %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <h5 class="text-center">
      រក្សាសិទ្ធ © 2015. ក្រសួងសេដ្ឋកិច្ច និង ហិរញ្ញវត្ថុ 
    </h5>
  </div>
</div>