<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= t('dashboard.navigator_menu.faq') %></b>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_faq' %>
  </div>
</div>