<br><br>
<div class="panel panel-primary">
  <div class="panel-heading"><%= t('panel.heading.edit', model: t('model.purchase_order') ) %> </div>
  <div class="panel-body" >
  <%= render "form" %>
  </div>
  <div class="panel-footer" >
    <%= link_to t('form.actions.back'), purchase_orders_path, class: 'btn btn-default' %> 
  </div>
</div>