<div class="panel panel-default panel-primary">
  <div class="panel-heading">Add new User</div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to "Back", admins_path, class: "btn btn-default" %>
  </div>

</div>