<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= "Edit Public Service" %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_public_service' %>
  </div>
</div>


