<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= t('dashboard.navigator_menu.public_services') %></b>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_public_service' %>
  </div>
</div>


