<div class="col-md-5 row " >
    <%= simple_form_for @quater_years_pfm do |f| %>
      <%= f.input :title %>
      <%= f.input :document %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>  
</div>
