<div class="panel panel-primary" >
  <div class="panel-heading" ><%= t('form.button.add')  %></div>
  <div class="panel-body" >
    <%= render 'form' %>
  </div>
  <div class="panel-footer" >
    <%= link_to t('form.actions.back'), quater_years_pfms_path, class: 'btn btn-default' %>
  </div>
</div>