<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= t('dashboard.navigator_menu.org_structure') %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_org_structure' %>
  </div>
</div>