<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= "Organizational Structure" %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_org_structure' %>
  </div>
</div>