<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= @law_regulation.title %></b>
  </div>
  <div class="panel-body" > 
    <div class="row" >
      
      <div class="col-xs-6" >
        <ul>
          <li> <%= "Law Regulation Title: #{@law_regulation.title} " %> </li>
        </ul>

      
        <ul>
          <li> <%= "Law Regulation Description: #{@law_regulation.description} " %> </li>
        </ul>
      </div>

      <div class="col-xs-6" >
        
      </div>
    </div>
  </div>
</div>