<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= t('dashboard.navigator_menu.announcement') %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_contact' %>
  </div>
  <div class="panel-footer" >
    <%= link_to t('form.button.back'), contacts_path %>
  </div>
</div>