<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= t('dashboard.navigator_menu.procurement_method') %></b>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_procurement_method' %>
  </div>
</div>


