<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= "Edit Announcment type" %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_procurement_method' %>
  </div>
</div>
