<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= "New Announcement Type" %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_announcement_type' %>
  </div>
</div>

