<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= t('dashboard.navigator_menu.announcement_type') %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_announcement_type' %>
  </div>
</div>

