<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= t('dashboard.navigator_menu.awarding_contract') %></b>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_awarding_contract' %>
  </div>
</div>


