<!-- containner -->
<div class="container"> 
    <div class="row has-shadow  ">
      <!-- main-container -->
      <div class="main-container" >
        <div class="main-header" >
          <!-- top-header -->
          <div class="top-header has-padding color-fore col-md-12">
              <div class="col-md-6">
                    <!-- left    -->
              </div>
              <div class="language-change-box col-md-6">
                  <!-- <a href="" title="chang language">
                    <img src="/assets/kh.png">     
                  </a>
                  <a href="" title="chang language">
                    <img src="/assets/en.png">     
                  </a> -->
              </div>
          </div>
          <!-- /top-header -->

          <!-- header-content -->
          <div class="header-content has-padding ">
              
              <%= image_tag("logo.png", class: "img-responsive", style: "width:400px; margin-top: 15px; margin-bottom: 15px;") %>

          </div>
          <!-- /.header-content -->
        </div>

        <%= render 'website/header/navigator' %>

<!-- ?? -->
<!-- full width content -->
<div class="col-md-12 no-padding background-color-white ">
    <!-- main content -->
    <div class="main-content ">
      