<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">
      Front End Header Bar
      <br>
      <%= render 'website/header/navigator' %>
    </h3>
  </div>

    <!-- <div class="col-md-12 background-color-fore has-shadow fixed ">
        <div class="admin-navbar " style="float: left; padding-top: 7px;">
          <ul style=" width:400px; display: inline; margin-top: 15px; ">
            <li style="display:inline;">
              <a class="color-white" href="#">មាតិកា១</a> 
            </li>
            <li style="display:inline;">
              <a class="color-white" href="#">មាតិកា១</a>
            </li>
            <li style="display:inline;">
              <a class="color-white" href="#">មាតិកា១</a>
            </li>
          </ul>
        </div>  
        <p style="float:right;">  <b>នាមត្រកួល ឈ្មោះ </b> | ចាកចេញ</p>

        </div>


    </div>
 -->
</div>