<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= t('dashboard.navigator_menu.procurement_entity') %></b>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_procurement_entity' %>
  </div>
</div>