<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= "Procurement entity" %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_procurement_entity' %>
  </div>
</div>