<div class="panel panel-primary" >
  <div class="panel-heading" >
    <%= "Edit budget  source" %>
  </div>
  <div class="panel-body" > 
    <%= render 'forms/form_budget_source' %>
  </div>
</div>


