<!-- content -->
<div class="content  col-md-8 body">
  <div class="has-padding has-shadow" style="margin-bottom:10px;" >
    <b><%="ការដោះស្រាយវិវាទ"%></b>
  </div>
  <br/>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">ដំណោះស្រាយ</p>
      </div>
      <div class="panel-body">
        <h1>ស្ថិតក្នុងការស្ថាបនា</h1>
      </div>
    </div>
  </div>
</div>
