<!-- content -->      
<div class="content  col-md-8 body">
  <div class="has-padding has-shadow" style="margin-bottom:10px;" >
    <b><%="ផែនការសកម្មភាពរបស់អគ្គនាយកដ្ឋាន"%></b>
  </div>
  <br/>
    <div class="row" >  
      <% @quater_years_pfms.each do |qyp| %>
      <div class="col-md-3 text-center" style="margin-bottom: 8px;" >
        <div style="border:1px solid #eee; padding:5px;" >
          <b><%= qyp.title %></b><br>
          <%= link_to qyp.document.url, target: '_new' do %>
            <%= image_tag qyp.document.url(:thumb),  style: 'margin: 5px;' %>
          <% end %>
          
        </div>
      </div>
      <% end %>
    </div>
  
</div>