<% flash.each do |name, msg| %>
  <div class="row" id="notification">
    <script type="text/javascript">
      $(document).ready(function (){
        $('.top-right').notify({
          type: '<%= name %>'=='notice' ? 'alert alert-success' : 'alert alert-danger',
          message: { html: '<%= name %>'=='notice' ? '<span class="fa fa-check-circle" aria-hidden="true"></span> <%= msg %>': '<span class="fa fa-exclamation-triangle" aria-hidden="true"></span> <%= msg %>'},
          onClosed: function(){
            $('#notification').remove();
          }
        }).show();
      });
    </script>
    <div class='notifications top-right'></div>
  </div>
<% end %>